{% block menu %}
    <input id="hamburger" class="hamburger" type="checkbox"/>
    <label class="hamburger" for="hamburger">
      <i></i>
      <text>
        <close></close>
        <open></open>
      </text>
    </label>
    <section class="drawer-list">
          <ul>
            <li><a href="/">домой</a></li>
            <!--<li><a href="/login">вход</a></li>-->
            <!--<li><a href="#">управление</a></li>-->
            <li><a href="/logout">выход</a></li>
        </ul>
    </section>
{%endblock%}
